---
import Nav from "../components/Navbar.astro"
---
<Nav />

<head>
	<title>hello</title>
</head>

<div class="header">
	<h1>Hi this is vmhs computer science club homepage</h1>	
</div>

<style>
	.header{
		font-family: fantasy;
		color:blueviolet;
		font-size:2.5rem;
		text-align: center;

		border: 15px solid gold;
		padding: 1px;
		display: inline-block;
		background-color:silver;
	}
</style>

<div class = "body">
	<p>Hello</p>
</div>

<style>
	.body{
		font-size: 100px;
		font-family: fantasy;
	}
</style>

<style>
	body{
		background-image: url("https://bsdstorage.blob.core.windows.net/media/Default/fgg/196/Vincent%20Massey%20Highschool%20-%20Logo.png");
		background-repeat:no-repeat;
		background-position:top;
		background-size:cover;
	}
</style>
