<style is:global>
	@font-face {
		font-family: "PixelifySans";
		src: url('/Users/guolg/VMCOMPUTERSCIENCE/public/fonts/PixelifySans-Regular.ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>
<h1>Hi this is vmhs computer science club homepage</h1>
<style>
	h1{
		color:blueviolet;
		font-size: xx-large;
		font-family:'PixelifySans', sans-serif;
	}
</style>

<p>idk</p>

<style>
	body{
		background-image: url("https://bsdstorage.blob.core.windows.net/media/Default/fgg/196/Vincent%20Massey%20Highschool%20-%20Logo.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
</style>
