<h1>Hi this is vmhs computer science club homepage</h1>
<style>
	h1{
		color:blueviolet;
		font-size: xx-large;
	}
</style>

<p>idk</p>

<style>
	body{
		background-image: url("https://bsdstorage.blob.core.windows.net/media/Default/fgg/196/Vincent%20Massey%20Highschool%20-%20Logo.png");
	}
</style>
