<nav class ="nav">
    <a href="https://vmcomputerscience.netlify.app/">homepage</a>
</nav>

<style>
    .nav {
        display: flex;
        gap: 2rem;
        padding: 1rem;
        background: black;
    }

    .nav a {
        color: white;
        text-decoration: none;
        font-weight:normal;
        font-family:fantasy;
    }
</style>
